
*{
    margin:0px;
    padding:0px;
}

.front{
    width:100vw;
    height:700px;
    background-image: url('../Assets/hero.jpg');
    /* box-shadow: (10px,10px,10px,5px,rgba(0,0,0,1)); */
    /* object-fit: cover; */
    /* border:0px solid black; */
    background-size: cover;
    border-bottom:15px solid grey;
    display:flex;
    justify-content: center;
    align-items: center;
}
.navbar_logo{
    margin-left:10vw;
    position:absolute;
    left:0rem;
    top:0rem;
    width:100px;
    height:100px;
    display:inline-flex;
}
.nav_button{
    display:inline-flex;
    position:absolute;
    right:0px;
   top:0rem;
    /* width:15rem; */
    margin-top:30px;
}
#lang{
    width:8rem;
    height:2.5rem;
    background-color: black;
    color:white;
    font-size:18px;
    border-radius: 10px;
    border:1px solid white;
    margin-right:10px;
}
#sign_in{
    width:5rem;
    background-color: red;
    border:none;
    color:white;
    font-size:18px;
    border-radius: 10px;
}
.content_front{
    height:auto;
    font-size: 1.5em;
    width:80%;
    color:white;
    display:flex;
    flex-direction:column;
    text-align: center;
}
.content_front h1{
    padding:10px;
}
.content_front p{
    padding:10px;
}
.content_front form{
    display:inline-block;
    width:20rem;
    height:50px;
    color:white;
}
.content_front form input{
    padding:5px;
    border-radius: 5px;
    border:none;
    font-size: 18px;
    background-color: rgba(0,0,0,0.8);
     color:white;
    width:100%;
    height:80%;
    border:1px solid rgba(255,255,255,0.6);
}
.content_front button{
    font-size: 25px;
    height:52px;
    width:13rem;
    margin-left:20px;
    background-color: red;
    border-radius: 5px;
    border:none;
}
.email_form{
     padding:10px;
     display:flex;
     justify-content: center;
}