.six{
    width:90vw;
    padding:5%;
    height:auto;
    background-color: black;
    color:white;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
     border-bottom:15px solid grey;

}
.title{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content:center;
    margin-bottom: 2rem;
}
.ques{
    display: flex;
    justify-content: space-between;
    padding-left:2%;
    padding-right:2%;
    width:96%;
    height:5rem;
    background-color: rgb(32, 31, 31);
    margin-top:10px;
    align-items: center;
}

.ques-content1{
    margin-top:10px;
    height:auto;
    font-size:1.2rem;
    background-color: rgb(32, 31, 31);
    padding:2%;
    line-height: 1.4em;
    align-items: center;
    
}
@media (min-width:1280px) {
    .title{
        width:1280px;
    }
    .ques{
        width:1280px;
    }
    .ques-content1{
        width:1280px;
    }
}